@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	html {
		scroll-behavior: smooth !important;
	}
}

@layer components {
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.button-white {
		@apply inline-flex items-center justify-center rounded-xl bg-white px-4 py-3 font-medium leading-none text-magnum-700 shadow hover:opacity-75;
	}

	.button-magnum {
		@apply rounded-xl bg-magnum-400 px-4 py-2 font-semibold text-magnum-900 transition hover:opacity-75 active:translate-y-0.5;
	}
	.input-label {
		@apply mb-0.5 font-medium text-magnum-300;
	}

	.input {
		@apply h-10 w-[240px] rounded-md px-3 py-2 text-black border border-magnum-700 focus:outline-none focus:ring-1 focus:ring-magnum-500 focus:border-magnum-500;
	}

	.dotted-bg {
		background-image: radial-gradient(circle, #fce0ac40 1px, #00000000 1px);
		background-size: 1.5rem 1.5rem;
		background-repeat: repeat;
	}
}
